/* Global style */

body {
    background-color: black;
    font-family: "eb garamond", sans-serif;
    color: azure;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

html {
    min-height: 100%;
    position: relative;
}
 /* Headings */

.heading {
    text-align: center;
    font-size: 50px;
}

.sub-heading {
    font-size: 30px;
}

#info {
    font-size: 24px;
    color: #8505a8;
}

.can-you-win {
    font-size: 20px;
}
/* Game buttons */

.selected {
    height: 60px;
    width: 30%;
    background-color: #8505a8;
    color: azure;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
}

/* Game area */

.game-area {
    display: inline-block;
    width: fit-content;
}

#user-side-image {
    width: 300px;
    height: 300px;
    background-color: azure;
    position: relative;
    float: left;
    margin: 0 40px;
    border: 3px solid #8505a8;
    
}

#computer-side-image {
    width: 300px;
    height: 300px;
    background-color: azure;
    position: relative;
    float: right;
    margin: 0 40px;
    border: 3px solid #8505a8;
    
}

.run-game-image {
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.scores {
    position: absolute;
    width: 100%;
    margin-top: 2px;
    text-align: center;
    font-size: 20px;
}

/* game result text */

#decision {
    font-size: 30px;
}
/* Game rules in footer */
footer {
    position: absolute;
    width: 75%;
    height: 50px;
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    padding: 10px;
}

.middle-rule {
    color: #8505a8;
}