@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* Global style */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'EB Garamond', sans-serif;
    color: azure;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

html {
    min-height: 100%;
    position: relative;
}

/* Headings */
.heading {
    text-align: center;
    font-size: 50px;
    margin: 1rem 0;
}

.sub-heading {
    font-size: 2rem;
    margin: 1rem 0;
}

/* Game area section with main game buttons */
.game-area {
    display: inline-block;
    align-items: center;
    width: 90%;
}

#button-choice {
    margin: 1rem 0;
}

.selected {
    font-family: inherit;
    font-size: 1rem;
    height: 60px;
    width: 32%;
    background-color: #8505a8;
    color: azure;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
}

/* Result area with both computer and user images inside */
.result-area {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
}

/* Images inside results area */
#user-side-image {
    width: 100%;
    background-color: azure;
    position: relative;
    float: left;
    border: 3px solid #8505a8;
    background-size: cover;
}

#computer-side-image {
    width: 100%;
    background-color: azure;
    position: relative;
    float: right;
    border: 3px solid #8505a8;
    background-size: cover;
}

#user-image {
    height: 100%;
}

#computer-image {
    height: 100%;
}

.run-game-image {
    object-fit: cover;
    width: 100%;
}

/* Scores displayed at the top of game images */
.scores {
    position: absolute;
    width: 100%;
    margin-top: 2px;
    text-align: center;
    font-size: 20px;
}

/* game result text */
#outcome-sentence {
    margin: 1rem 0;
}

#decision {
    width: 75%;
    font-size: 30px;
    text-align: center;
}

/* Game rules in footer */
.social-icons {
    margin: 1rem;
    display: inline-block;
    font-size: 30px
}

/* Used W3C for inspiration and help on how to make a modal 
https://www.w3schools.com/howto/howto_css_modals.asp */

/* Modal background with opacity for better focus */
.modal-rules {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Modal Content */
.modal-rules-content {
    position: relative;
    background-color: #8505a8;
    color: azure;
    margin: 0 auto;
    width: 100%;
}

#rules-modal-border {
    position: relative;
    background-color: #15fd38;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
}

.modal-rules-body {
    font-size: 1.2rem;
    padding: 1.5rem;
}

/* Game rules button */
#my-rules-btn {
    font-family: inherit;
    font-size: 1rem;
    background-color: #8505a8;
    width: 32%;
    margin: 1rem;
    padding: 10px;
    border-radius: 10px;
    color: azure;
}

/* Close button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #8505a8;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 14px;
    background-color: #000;
    color: white;
}

/* Page load modal */
#page-load-modal {
    position: absolute;
    z-index: 2;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

/* page load content in page load modal */
.page-load-content {
    position: relative;
    background-color: #8505a8;
    color: azure;
    width: 100%;
    height: fit-content;
    font-size: 20px;
}

#modal-border {
    position: relative;
    background-color: #15fd38;
    color: azure;
    width: 50%;
    height: fit-content;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px; 
}

/* descriptive word describing what beats what */
.versus {
    color: #15fd38;
    text-transform: uppercase;
}

/* Play game button in page load modal */
#play-game-modal-btn {
    width: 40%;
    background-color: #000;
    color: azure;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    margin: 5px auto;
    cursor: pointer;
}

/* page load modal header */
.page-load-header {
    font-size: 20px;
    padding: 5px 10px;
    background-color: #000;
    color: white;
}

/* information about the game in page load modal */
.page-load-body {
    margin: 30px 10px;
    width: auto;
}

/* Images inside the choices button */
#modal-images {
    display: none;
    margin-top: 10px;
}

#modal-images img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    padding: 2px;
    cursor: pointer;
}

/* Choices button */
#modal-choices-btn {
    width: 90px;
    background-color: #000;
    color: azure;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    margin: 1rem auto;
}

/* Hover effect with description of image */
#stone-hover,
#wand-hover,
#cloak-hover {
    display: none;
    font-size: 70%;
}

.hover-instructions {
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 1rem auto;
}

/*   Media Querys   */

/* Adjust text size for screen size 500px and below */
@media screen and (max-width: 500px) {
    .scores {
        font-size: 13px;
    }

    #decision {
        font-size: 20px;
    }

    .page-load-content {
        font-size: 15px;
    }
}

/* Style selection buttons for screens below 750px */
@media screen and (max-width: 750px) {
    .selected {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 3px auto;
        width: 50%;
    }

    .modal-rules-body p {
        font-size: 10px;
    }

    .heading {
        font-size: 2rem;
    }

    .sub-heading {
        font-size: 1.5rem;
    }
}
